@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
header {
  height: 12vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
header div a {
  padding: 0 9vh;
  text-decoration: none;
  font-size: 1.3rem;
  height: 12vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
header a img {
  height: 12vh;
  padding: 1vh;
}

.hover:hover, header div a:hover, header a img:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
main section {
  width: 100%;
  border: 1px solid red;
}
main section.proyectos {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  padding: 5vh 2vh;
}
main section.proyectos .option {
  padding: 3vh;
  margin: 0 0.3vw;
  height: 70vh;
  border-radius: 25px;
  flex: 0.5;
  position: relative;
  transition: 0.2s ease-in all;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
main section.proyectos .option img {
  display: none;
  height: 95%;
  right: 4vh;
  position: absolute;
  border-radius: 20px;
}
main section.proyectos .option h1 {
  display: block;
  position: absolute;
  top: 45%;
  left: 15%;
  width: 4vw;
  background-color: #161b2f;
  border-radius: 50%;
  text-align: center;
  font-size: 3rem;
}
main section.proyectos .option div.info {
  position: absolute;
  display: none;
  height: 95%;
  width: 70%;
}
main section.proyectos .option div.info h2 {
  font-size: 2.5rem;
  margin-bottom: 2vh;
}
main section.proyectos .option div.info h6 {
  font-size: 1.4rem;
}
main section.proyectos .option div.info p, main section.proyectos .option div.info i {
  color: rgb(215, 215, 215);
  line-height: 200%;
  font-size: 1.2rem;
}
main section.proyectos .option div.info a {
  font-size: 1.4rem;
  line-height: 200%;
  color: white;
}
main section.proyectos .option.active {
  flex: 15;
  cursor: unset;
}
main section.proyectos .option.active img, main section.proyectos .option.active div.info, main section.proyectos .option.active .vinyl {
  display: block;
}
main section.proyectos .option.active h1 {
  display: none;
}
main section.proyectos .option:nth-child(1) {
  background: rgb(176, 115, 99);
  background: linear-gradient(227deg, rgb(176, 115, 99) 0%, rgb(182, 59, 28) 48%, rgb(164, 48, 19) 100%);
}
main section.proyectos .option:nth-child(2) {
  background-image: linear-gradient(109.6deg, rgb(118, 12, 99) 11.2%, rgb(71, 11, 75) 98.6%);
}
main section.proyectos .option:nth-child(3) {
  background-color: lightsalmon;
}

.vinyl {
  position: absolute;
  right: 3vw;
  display: none;
  -webkit-animation: rotate-center 4s linear infinite both;
          animation: rotate-center 4s linear infinite both;
  width: 320px;
  height: 320px;
  margin: 19px auto;
  border-radius: 50%;
  background: linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, 0.85) 40%) no-repeat 100% 0, linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%) no-repeat 0 100%, repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}
.vinyl::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px;
  border: solid 1px #d9a388;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #da5b33, inset 0 0 0 27px #da5b33;
  background: #b5ac9a;
  content: "";
}

@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
}

body {
  background-color: #293462;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */