@use "./mixins";

.contact {
    @include mixins.flex-container(column,space-between,center);
    margin-bottom: 2vh;
    .titulo {
        font-size: 2.3rem;
    }
    div.main_contacto {
        @include mixins.flex-container(row,center,center);
        width: inherit;
        gap: 10vw; 
    }
    div.links {
        @include mixins.flex-container(column,space-evenly,center);
        gap: 2vh;
        a {
            height: 9vh;
            width: 30vw;
            border: none;
            cursor: pointer;
            border-radius: 25px;
            padding: 1vw;
            @include mixins.flex-container(row,center,center);
            @include mixins.shadow(rgba(90, 81, 108, 0.3));
            text-decoration: none;
            position: relative;
            transition: 0.7s ease all;
            &:hover {
                transform: scale(1.05);
                transition: 0.7s ease all;
                transition-delay: 0s;
            }
            i {
                font-size: 2.6rem;
                position: absolute;
                left: 1vw;
            }
            
            h3 {
                font-size: 2rem;
                text-align: center;
            }
        }
        .div1 { 
            background-color: #171515;
        }
        .div2 { 
            background-color: #0e76a8;
        }
        .div3 { 
            background-color: #075e54;
        }
    }
    form.gform {
        @include mixins.flex-container(column,center,center);
        gap: 1vh;
        fieldset {
            width: 30vw;
            border: none;
            input {
                height: 7vh;
                width: inherit;
                font-size: 1.3rem;
                color: black;
                padding: 0 0 0 1vw;
                border-radius: 10px;
                border: none;
                &[type="submit"] {
                    padding: none;
                    cursor: pointer;
                }
                &::placeholder {
                    margin-left: 8vw;
                }
            }
            textarea {
                @extend input;
                resize: none;
                height: 15vh;
                padding: 6vh 0 6vh 1vw;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}