@use "./mixins";

.contact {
    @include mixins.flex-container(column,space-between,center);
    .titulo {
        font-size: 2.3rem;
    }
    div.links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        a, button {
            height: 10vh;
            width: 35vw;
            border: none;
            cursor: pointer;
            border-radius: 25px;
            padding: 1vw;
            @include mixins.flex-container(row,center,center);
            text-decoration: none;
            position: relative;
            transition: 0.7s ease all;
            &:hover {
                transform: scale(1.1);
                transition: 0.7s ease all;
                transition-delay: 0s;
            }
            i {
                font-size: 3rem;
                position: absolute;
                left: 1vw;
            }
            
            h3 {
                font-size: 2rem;
                text-align: center;
            }
        }
        .div1 { 
            grid-area: 1 / 1 / 2 / 2; 
            background-color: #171515;
        }
        .div2 { 
            grid-area: 1 / 2 / 2 / 3; 
            background-color: #0e76a8;
        }
        .div3 { 
            grid-area: 2 / 1 / 3 / 2; 
            background-color: #8d140f;
        }
        .div4 { 
            grid-area: 2 / 2 / 3 / 3; 
            background-color: #075e54;
        }
    }
}