@use "./mixins";

.habilidades {
    @include mixins.flex-container(column,center,center);
    article {
        width: 98%;
        height: 50vh;
        border-radius: 15px;
        h3 {
            font-size: 1.7rem;
            margin: 2vh;
        }
        &:nth-child(1) {
            background-color: #355764;
            margin-bottom: 2vh;
        }
        &:nth-child(2) {
            @include mixins.flex-container(row,space-between,center);
            gap: 2vh;
            div {
                width: 98%;
                height: 50vh;
                border-radius: 15px;
                &:nth-child(1) {
                    background-color: #5A8F7B;
                }
                &:nth-child(2) {
                    background-color: #921b80;
                }
            }
        }
    }
}