@use "./mixins";
@use "./projects";
@use "./contact";

main {
    @include mixins.flex-container(column,flex-start,center);
    section {
        width: 100%;
        border: solid 1px red;
        &.proyectos div.intro_proyectos {
            border: solid 1px green;
            width: 50%;
            height: 83vh;
            padding: 0 2vw;
            line-height: 1.8rem;
            @include mixins.flex-container(column,flex-start,center);
        }
    }
    .titulo {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 2rem;
        border-radius: 30px;
        text-align: center;
        padding: 0.4vw 3vw;
        margin-bottom: 2vh;
    }
}

